

<!-- Toolbar -->
<div class="text-light d-flex bg-dark align-items-center justify-content-around p-3 mb-2" role="banner">
  <div>Welcome</div>
</div>

<div class="container">


<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Bar Chart</p>
    <app-bar-chart class="chart"></app-bar-chart>
    <app-code [code]="barchartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>
<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Line Chart</p>
    <app-line-chart class="chart"></app-line-chart>
    <app-code [code]="linechartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Pie Chart</p>
    <app-pie-chart class="chart"></app-pie-chart>
    <app-code [code]="piechartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Doughnut Chart</p>
    <app-doughnut-chart class="chart"></app-doughnut-chart>
    <app-code [code]="dntchartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Polar Area Chart</p>
    <app-polar-area-chart class="chart"></app-polar-area-chart>
    <app-code [code]="polarchartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Scatter Chart</p>
    <app-scatter-chart class="chart"></app-scatter-chart>
    <app-code [code]="scatterchartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

<div class="container-flud mb-2">
  <app-chart-wrapper>
    <p class="header">Bubble Chart</p>
    <app-bubble-chart class="chart"></app-bubble-chart>
    <app-code [code]="bubblechartCode" class="code"></app-code>
  </app-chart-wrapper>
</div>

</div>

<router-outlet></router-outlet>
